<div class="selected-email">
  <h4><%= email.object%></h4>
  <p><%= email.body%>
  <br><br>
  <%= link_to "Supprimer", email_path, :method => :delete, remote: 'true', class: "btn" %>
  <%= link_to "Marquer comme non-lu", email_path, :method => :patch, remote: 'true', class: "btn" %>
</div>